<%- include('partials/header'); -%>
    <h1><%= title %></h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="titleText">Title</label>
            <textarea class="form-control" id="titleText" rows="1" name="titlebody"></textarea>
        </div>

        <div class="form-group">
            <label for="post">Post</label>
            <textarea class="form-control" id="post" rows="3" name="postbody"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
<%- include('partials/footer'); -%>